pyrogram
tgcrypto
tortoise-orm
asyncpg
python-dotenv
apscheduler
pytz
google-auth
google-auth-oauthlib
google-api-python-client
matplotlib
plotly
reportlab
weasyprint
aiogoogle
pydantic
pytz-deprecation-shim
tzdata
tzlocal
aiohttp
python-dateutil
pillow
pytest
pytest-asyncio
black
isort
mypy
typing-extensions
aiofiles
